.user-text-list{
    margin-top: 0px;
    margin-bottom: 30px;
}
    
.user-text-list__head{
    margin: 5px 0;
    user-select: none;
}

.user-text-list__button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    float: right;
    margin-top: 3px;
    margin-left: 3px;
}

.user-text-list__button:hover{
    border-bottom: 1px solid #c6e2ff;
    padding-bottom: 1px;
}

.user-text-list__ico{
    width: 16px;
    display: block;
}