.main{
    margin-left: 30px;
    font-size: 20px;
    width: 100%;
    padding-top: 40px;
    padding-right: 5px;
}

.main__statistics{
    margin-bottom: 10px;
}

.main__section{
    margin-bottom: 5px;
}

.main__head{
    display: flex;
    justify-content: flex-start;
}

.message{
/*    display: inline-block;*/
    margin: 10px 0 !important;
    margin-left: 20px;
    display: none;
}

.current-text-id{
    margin: 3px 0 0;
}

.main__section + .main__section{
    margin-top: 20px;
}

/*    border: 2px solid #DEB3EE;*/
.textarea{
    width: 100%;
    height: auto;
/*
    background-color: rgba(255,255,255,.7);
    border-radius: 3px;
    border: 2px solid #3B2A6E;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.5);
*/
/*    background-color: rgba(255,255,255,0);*/
    background-color: rgba(0,0,0,.5);
    
/*    color: #c6e2ff;*/
    
    
    resize: none;
    overflow: auto;    
    padding: 20px;
}

.main__textarea{
    min-height: 230px;
    max-height: 40vh;
}

div.main__textarea{
    user-select: none;
}

.main__work-textarea{
    user-select: none;
}

.main-inner{
    color: #392E34;
    display: inline;
}

.main__name,
.main__theme-name{
    background-color: rgba(0,0,0,.5);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.main__name{
    max-width: 250px;
    text-overflow: ellipsis;
    /* height: 28px; */
}

.main__theme-name{
    max-width: 150px;
    text-overflow: ellipsis;
    /* height: 28px; */
}

.main__button{
    padding: 5px !important;
    height: 40px;
    width: 40px;
}

.main__ico{
    width: 30px;
    height: auto;
}

.save-button{
    padding: 6px !important;
}

.main__ico-save{
    width: 28px;
}

.main__button-edit{
    margin-right: 30px !important;
}

.graph{
    /* display: none; */
    margin-left: 10px;
    height: 28px;
}

.graph__button{
    padding: 2px 3px 0px;
    background-color: rgba(0,0,0,.5);
    /* margin-left: 10px; */
    width: 28px;
    height: 28px;
    /* position: relative; */
}

.graph__ico{
    width: 20px;
    /* position: absolute;
    left: 3px;
    top: 3px; */
}

.graph__button:hover{
    cursor: pointer;
    box-shadow:
    0 0 6px rgba(217,48,107,0.23),
    0 0 30px rgba(217,48,107,0.09),
    0 0 12px rgba(254,62,134,0.13),
    0 0 21px rgba(254,62,134,0.23),
    0 0 34px rgba(254,62,134,0.2),
    0 0 54px rgba(254,62,134,0.23);
    border-color: white;
}

.graph__inner{
    position: relative;
    width: 100%;
    height: 100vh;
/*    background-color: rgba(0,0,0,.5);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.graph__inner p{
    font-size: 25px;
}

.graph__close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    cursor: pointer;
    padding: 0px 5px;
}

/* .graph-fail{
    display: block;
} */

.activation-main{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activation-main__button{
    text-decoration: none;
    font-size: 30px;
}

/* Всплывающая подсказка */
[data-tooltip] {
    position: relative; /* Относительное позиционирование  */
}

[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 240px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: rgba(0, 0, 0, 1); /*Синий цвет фона*/
    color: #c6e2ff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid #fff;
    box-shadow:
        0 0 7px #0fa,
        0 0 10px #0fa,
        0 0 21px #0fa,
        0 0 42px #0fa;
    text-shadow: none;
    font-size: 17px;
}

[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}

.not-found-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found{
    margin-top: 0px;
    font-size: 210px;
}

.error{
    font-size: 30px;
}